# ======================
# CLERK AUTH
# ======================
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# ======================
# DATABASE
# ======================

# --- ONLINE MODE (Cloud - Supabase / Neon etc.) ---
# DATABASE_URL="postgresql://postgres:password@db.xxxxx.supabase.co:5432/postgres"

# --- OFFLINE / LOCAL MODE (Docker) ---
DATABASE_URL="postgresql://dayflow:dayflow123@localhost:5432/dayflow?schema=public"